body {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

.log-message {
    color: red;
}

#messages {
  margin: 0;
  padding: 0;
  list-style: none;
  height:90vh;
  overflow-y: scroll;
}

#messages li {
    height: 50px;
    position: relative;
}
#messages li:nth-child(odd) {
    background: lightblue;
}
#messages li:nth-child(even) {
    background: #f8f8f8;
}

form {
    margin: 0;
    position: fixed;
    bottom: 0;
    height: 55px;
    width: 100%;
}

#chat {
    height: 100%;
    width: 80%;
}

#send {
    width: 60px;
    height: 100%;
}

.timestamp {
    position: absolute;
    right:0;
    bottom: 5px;
}